header {
    display: flex;
    border-bottom: 5px solid black;
    flex-shrink: 1;
}

h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: row;
    font-size: 20px;
    left: auto;
    top: auto;
    flex-shrink: 1;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    position: relative;
    flex-direction: column;
    font-size: 20px;
    top: auto;
}

li {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
    cursor: grab;
    
}

footer {
    display: flex;
    flex-shrink: 1;
}

.container {
    position: relative;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.buttons {
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: none;
    background: none;
    height: 70px;
    width: 70px;
    position: relative;
    flex-direction: row;
    left: auto;
    font-size: 20px;
    margin: 8px;
    flex-shrink: 1;
    cursor: grab;
}

.btnContainer {
    display:flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
}
.dark {
    background-color: rgb(43, 31, 31);
    color: rgb(231, 222, 222);
  }
  
.light {
    background-color: white;
    color: black;
  }

@media (max-width: 768px) {
    .btnContainer {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}




